<div class="banner">
    <img class="img-fluid img-ed" src="assets\images\3.jpg">
    <div class="banner-text">
        <b><h1>ROOMS</h1></b>
    </div>
</div>
<br><br>

<!-- This section for user can check the room price and select room -->
<div class="container">
<h1 style="text-align: center;">Rooms</h1> 
  
   <div class="row mt-4">
    <div class="col-md-4">
         <div class="card p-2 pb-2">
            <div class="facility">
             <img src="assets\images\room1.jpg" class="img-fluid img-responsive"></div>
             <span>12</span>
            
             <span>Single bed</span>
             <h5>1000/Day</h5>
         </div>
    </div>
    <div class="col-md-4">
         <div class="card p-2 pb-2">
            <div class="facility">
             <img src="assets\images\room2.jpg" class="img-fluid img-responsive"></div>
             <span>233</span>
             
             <span>Double bed</span>
             <h5>2000/Day</h5>
         </div>
     </div>
     <div class="col-md-4">
         <div class="card p-2 pb-2">
            <div class="facility">
             <img src="assets\images\room3.jpg" class="img-fluid img-responsive"></div>
             <span>25</span>
            
             <span>Delux</span>
             <h5>4000/Day</h5>
         </div>
     </div>
</div>
<h3>Check Available Room</h3>
<a routerLink="/room-view"><button type="button" class="btn btn-primary">View</button></a>
</div><br><br>

<br><br> <app-footer></app-footer>