

<div class="banner">
    <img class="img-fluid img-ed" src="assets\images\about.jpg">
    <div class="banner-text">
        <b><h1>ROOMS</h1></b>
    </div>
</div>
<br>

<div class="container">
<div class="row mt-5">
    <div class="col-md-6">
        <img src="assets\images\hotel.jpg" width="600px" class="img-fluid img-responsive">
    </div>
    <div class="col-md-6">
        <button class="btn btn-danger">Top value</button>
        <h3>Courtyard by Marriott Nashik</h3>
        <p>Renuka nagar, Nashik-veiw on map</p>
        <button class="btn btn-outline-success">Breakfast</button>
        <button class="btn btn-outline-success">Dinner Included</button>
        <p class="text-danger mt-1">Popular! Last booked 7 hours ago</p>
        <p class="text-success">Limited Time promotion</p>
        <p class="text-primary">Highly rated by gueste-97% would recommend</p>
    </div>
</div>
<br>

<div class="card text">
    <div class="card-header">
        <h5 class="card-title">Property highlights</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h6 class="card-title"><i class="fa fa-plus-square" style="font-size:35px;color:green"></i> &nbsp;Hygiene Plus</h6>
                <p class="card-text">This property has self-selected and self-certified the hygiene measures
                   <a href="#">Learn more</a> </p>
            </div>
            <div class="vl col-md-1"></div>
            <div class="col-md-5">
                <h6 class="card-title"><i class="fa fa-get-pocket" style="font-size:35px;color:green"></i> &nbsp;Free cancellation available</h6>
                <p class="card-text">Free cancellation before January 14, 2022</p>
            </div>
        </div>
    </div>
  </div><br><br>


  <div class="card text">
    <div class="card-body">
        <h5>Hygiene Plus</h5>
        <p>This property has self-selected and self-certified the following hygiene measures</p>
        <div class="columns">
            <div class="column">
                <h6><i class="fa fa-shield" style="font-size:30px;color:green"></i> &nbsp;Safety Features</h6> 
                <ul>
                    <li>&#10004; Staff trained in safety protocol</li>
                </ul> 
            </div>
            <div class="column">
                <h6><i class="fa fa-hand-paper-o" style="font-size:30px;color:rgb(25, 219, 203)"></i> &nbsp;Preventative Equipment</h6>
                <ul>
                    <li>&#10004;Hand sanitizer</li>
                    <li>&#10004;Free face masks</li>
                    <li>&#10004;Sterilizing equipment</li>
                </ul> 
            </div>
            <div class="column">
                <h6><i class="fa fa-heartbeat" style="font-size:30px;color:red"></i> &nbsp; Health and Medical</h6>
                <ul>
                    <li>&#10004;First aid kit</li>
                    <li>&#10004;Doctor/nurse on call</li>
                </ul> 
            </div>
        </div>
    </div>
  </div>


  <div class="card text">
    <div class="card-body">
        <h5>Staycation offers available</h5>
        <p>Get special benefits for your stay</p>
        <div class="columns">
            <div class="column">
                <h6><i class="fa fa-cutlery" style="font-size:30px;color:rgb(32, 175, 223);"></i> &nbsp;Food and Drinks</h6> 
                <ul>
                    <li>&#10004; Room service [24-hour]</li>
                    <li>&#10004; Coffee shop</li>
                    <li>&#10004; Room service</li>
                </ul> 
            </div>
           
            <div class="column">
                <h6><i class="fa fa-pagelines" style="font-size:30px;color:rgb(5, 99, 41)"></i> &nbsp; Wellness</h6>
                <ul>
                    <li>&#10004;Fitness center</li>
                    <li>&#10004;Spa</li>
                </ul> 
            </div>
            <div class="column">
                <h6><i class="fa fa-book" style="font-size:30px;color:rgb(153, 102, 8)"></i> &nbsp;Activities</h6>
                <ul>
                    <li>&#10004;Library</li>
                </ul> 
            </div>
            <div class="column">
                <h6><i class="fa fa-gamepad" style="font-size:30px;color:rgb(50, 66, 65)"></i> &nbsp;
                    Sports & Entertainment</h6>
                <ul>
                    <li>&#10004;Game room</li>
                    <li>&#10004;Squash court</li>
                </ul> 
            </div>
        </div>
    </div>
  </div>
</div>



    <app-footer></app-footer>