<div class="row justify-content-center">
    
    <div class="col-md-6 text-left bg-white rounded shadow py-3">

        <h3 style="text-align: center;">Reservation</h3>
        <br><br>
        <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
            
                <div class="form-group">
                    <div class="mb-3">
                        <label for="exampleInputDes">Room Type</label>
                        <select type="text" formControlName="description" class="form-control" id="exampleInputDes">
                        <option value=""></option>
                        <option value="SA 2000/Day">Single Bed Ac </option>
                        <option value="SNA 1000/Day">Single Bed Non-Ac </option>
                        <option value="DA 4000/Day">Double Bed Ac </option>
                        <option value="DNA 3000/Day">Double Bed Non-Ac </option></select>
                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label for="exampleInputfname1">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" id="exampleInputfname1" >
                 
                </div>
                </div>
        
                <div class="form-group">
                    <div class="mb-3">
                        <label for="exampleInputlname1">lastName</label>
                  <input type="text" formControlName="lastName" class="form-control" id="exampleInputlname1" >
                            
                    </div>
                </div>

                <!-- <div class="form-group">
                    <div class="mb-3">
                        <label for="exampleInputsdate">Check In date</label>
                  <input type="date" formControlName="sdate" class="form-control" id="exampleInputsdate" >
                           
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label for="exampleInputedate">Check Out date</label>
                  <input type="date" formControlName="edate" class="form-control" id="exampleInputedate" >
                           
                    </div>
                </div> -->
               

            <div class="form-group">
                <div class="mb-3">
                    <label for="exampleInputemail">User Email Id</label>
                    <input type="email" formControlName="email" class="form-control" id="exampleInputemail" aria-describedby="emailHelp" >
                        
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputmobile">Mobile No</label>
                    <input type="text" formControlName="mobile" class="form-control" id="exampleInputmobile" >
                   
            </div>

            <div class="form-group">
                <mat-form-field appearance="fill">
                    <!-- <mat-label>Enter a date range</mat-label> -->
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate placeholder="Check in" formControlName="sdate">
                      <input matEndDate placeholder="Check out" formControlName="edate">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                </div>
        
             <button type="submit" (click)="postContactDetails()" class="btn btn-primary">Submit</button>&nbsp;
           
        </form>

    </div>
</div>
<br><br> <app-footer></app-footer>