.form-control.ng-touched.ng-invalid {
    border:1px solid red;
   }
   .form-control.ng-touched.ng-valid {
    border:1px solid green;
   }

   .card{
    top: 30px;
    border: none;
    width: 500px;
    padding: 40px;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 55%; */
    /* transform: translate(-50%,50%); */
    background: hsla(205,46%,30%,1);
    background: linear-gradient(90deg,hsla(205,46%,30%,1)0%,hsla(260,29%,36%,1)100%);

}

.card label,
h6{
    color: #fff;
}
h1{
    color: #fff;
}

label{
    color: #fff;
}
.frame{
    margin-left: 90px;
    margin-top: 130px;
}