
<div class="banner">
    <img class="img-fluid img-ed" src="assets\images\ab1.jpg">
    <div class="banner-text">
        <b><h1>FOODS</h1></b>
    </div>
</div>
<br><br>

<div class="container">
    <h1 style="text-align: center;">Foods</h1>  
    <!-- <button class="btn btn-info">Create New</button> -->
    <div class="row mt-4">
        <div class="col-md-4">
             <div class="card p-1 pb-5">
                <div class="facility">
                 <img src="assets\images\ab1.jpg" class="img-fluid img-responsive"></div>
                 <span>Panner</span>
                 <span>Food1</span>
                 <h5>200</h5>
             </div>
        </div>
        <div class="col-md-4">
             <div class="card p-1 pb-5">
                <div class="facility">
                 <img src="assets\images\t3.jpg" class="img-fluid img-responsive"></div>
                 <span>Fish</span>
                 <span>very Delicious</span>
                 <h5>300</h5>
             </div>
         </div>
         <div class="col-md-4">
             <div class="card p-1 pb-5">
                <div class="facility">
                 <img src="assets\images/ab3.jpg" class="img-fluid img-responsive"></div>
                 <span>Dosa</span>
                 <span>wooow</span>
                 <h5>50</h5>
             </div>
         </div>
    </div>
    <h3>Check Available Food</h3>
<a routerLink="/food-view"><button type="button" class="btn btn-primary">View</button></a>
</div>
    <br><br>
   
    <br><br> <app-footer></app-footer>