<div class="container">
    <div class="row">
        
        <div class="col-md-3"><a routerLink="/reserve-detail">User Reservation Detail</a></div>
        <div class="col-md-3"><a routerLink="/roomtype-detail">User Room Detail</a></div>
        <div class="col-md-3"><a routerLink="/food-detail">User Food Detail</a></div>
        
    </div>
</div>

<h4>Customer Details</h4>


<nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
    <div class="container-fluid">
      <h4>Customer Details</h4>
    
    </div>
    
  </nav>

  <table class="table mt-3">
      <thead>
          <tr>
            
            <th scope="col">User Id</th>
            <th scope="col">Room Charges</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Check in date</th>
            <th scope="col">Check Out date</th>
            <th scope="col">User Emailid</th>
            <th scope="col">Mobile No.</th>
            <!-- <th scope="col">Action</th> -->
            

          </tr>
        </thead>
      <tbody>
          <tr *ngFor='let row of ReserveModel ; index as i' >
            <td>{{i+1}}</td>
            <td>{{row.description}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.sdate}}</td>
            <td>{{row.edate}}</td>  
            <td>{{row.email}}</td>
            <td>{{row.mobile}}</td>
           
           
              <td>
                  <!-- <button  class="btn btn-info" type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Edit</button>
                    <button  class="btn btn-danger mx-3">Delete</button> -->
              </td>
          </tr>
      </tbody>
  </table>

 
<br><br><br>
 
