<div class="container">
    <div class="row">
        
        <div class="col-md-4"><button class="btn btn-success"><a routerLink="/reserve-detail"> <span style="color: black;">Reservation Detail</span></a></button></div>
        <div class="col-md-4"><button class="btn btn-success"><a routerLink="/roomtype">  <span style="color: black;">Room Detail</span></a></button></div>
        <div class="col-md-4"><button class="btn btn-success"><a routerLink="/food"> <span style="color: black;">Food Detail</span></a></button></div>
        <!-- <div class="col-md-3"><a routerLink="/drink">Add Drink </a></div> -->
        
    </div>
</div><br><br>




<nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
    <div class="container-fluid">
     
    
    </div>
    
  </nav>

  <table class="table mt-3">
      <thead>
          <tr>
            
            <th scope="col">Id</th>
            <th scope="col">Room Number</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Check in date</th>
            <th scope="col">Check Out date</th>
            <th scope="col">User Emailid</th>
            <th scope="col">Mobile No.</th>
            <!-- <th scope="col">Action</th> -->
            

          </tr>
        </thead>
      <tbody>
          <tr *ngFor='let row of ReserveModel ; index as i' >
            <td>{{i+1}}</td>
            <td>{{row.description}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.sdate}}</td>
            <td>{{row.edate}}</td>  
            <td>{{row.email}}</td>
            <td>{{row.mobile}}</td>
           
           
              
          </tr>
      </tbody>
  </table>

 
<br><br><br>
 
