<nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
    <div class="container-fluid">
      <h4>Available Room Details</h4>
    
    <!-- <div class="d.flex">
   <button (click)="clickAddEmploye()"type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal1"><a href="contactus">Add Customer</a></button>
    </div> -->
  </div>
  </nav>

  <table class="table mt-3">
      <thead>
          <tr>
            
            <th scope="col">Id</th>
            <th scope="col">Room Number</th>
            <th scope="col">Room Type</th>
            <th scope="col">Price</th>
           
            <th scope="col">Action</th>
            

          </tr>
        </thead>
      <tbody>
          <tr *ngFor='let row of roomModel; index as i'>
            <td>{{i+1}}</td>
            <td>{{row.roomNo}}</td>
            <td>{{row.room}}</td>
            <td>{{row.price}}</td>

            <!-- <td><img [src]="row.image" width="90" /></td> -->
            
           
           
              <td>
                  <button (click)="onEditr(row)" class="btn btn-info" type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Edit</button>
                    <button (click)="deleterooms(row)" class="btn btn-danger mx-3">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>

  <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Room Detail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="myReactiveForm">
            
            
            <div class="form-group">
              <div class="mb-3">
                  <label for="exampleInputroomno">Room Number</label>
                  <input type="text" formControlName="roomNo" class="form-control" id="exampleInputroomno">
                      
           </div>
          </div>
          <div class="form-group">
              <div class="mb-3">
                  <label for="exampleInputroom">Room Type</label>
                  <input type="text" formControlName="room" class="form-control" id="exampleInputroom">
                      
              </div>
          </div>
          <div class="form-group">
              <div class="mb-3">
                  <label for="exampleInputprice">Price</label>
                  <input type="text" formControlName="price" class="form-control" id="exampleInputprice">
                      
              </div>
          </div>
           
         
    </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
          <button type="button" *ngIf="showUpdate" (click)="updateroomDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
<br><br><br>
 