

<div class="row justify-content-center">
    
    <div class="col-md-6 text-left bg-white rounded shadow py-3">

        <h3 style="text-align: center;">Available Room</h3>
        <br><br>
        <form [formGroup]="myReactiveForm" >
            
                <div class="form-group">
                    <div class="mb-3">
                        <label for="exampleInputroomno">Room Number</label>
                        <input type="text" formControlName="roomNo" class="form-control" id="exampleInputroomno">
                            
                 </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label for="exampleInputroom">Room Type</label>
                        <input type="text" formControlName="room" class="form-control" id="exampleInputroom">
                            
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label for="exampleInputprice">Price</label>
                        <input type="text" formControlName="price" class="form-control" id="exampleInputprice">
                            
                    </div>
                </div>
                <div class="form-group">
                    <div class="mb-3">
                        <label for="exampleInputprice">Status</label>
                        <input type="text" formControlName="status" class="form-control" id="exampleInputprice">
                            
                    </div>
                </div>
               
        
             <button type="submit" (click)="postroomdetail()" class="btn btn-primary">Submit</button>&nbsp;
            <a routerLink="/roomtype-detail">  <button type="button" (click)="getroom()"  class="btn btn-success">View</button></a>
        </form>

    </div>
</div>


<br><br> <app-footer></app-footer>
